@import "tailwindcss/theme.css";
@import "tailwindcss/utilities.css";
@import "primeicons/primeicons.css";

body {
  margin: 0;
  font-family: sans-serif;
}

.p-progressbar-value {
  transition: none !important;
}
